@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Poppins&family=Quattrocento+Sans&family=Raleway:wght@100;300&family=Roboto:wght@500&display=swap");


body {
  margin: 0;
  padding: 0;
}

.main-section-container{
    background-image: url('../../../assets/img/libeznice-pic1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    margin-top: -15.5px;
    text-align: center;
    height: 80vh;
   
   
    box-shadow: 0px 15px 10px -15px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.podnadpis{
    font-size: 27px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -15px;
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
    .main-title {
        font-size: 42px;
    }
    .podnadpis {
        font-size: 32px;
    }
}

@media (min-width: 1024px) {
    .main-title {
        font-size: 60px;
    }
    .podnadpis {
        font-size: 36px;
    }
}

@media (min-width: 1440px) {
    .main-title {
        font-size: 68px;
    }
    .podnadpis {
        font-size: 40px;
    }
}