.about-section-container{
    height: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.about-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.about-text{
    text-align: right;
    width: 400px;
}

.about-text-left{
    text-align: left;
    width: 400px;
}




.news-img{
   max-height: 16rem;
    width: 500px;
}


