@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Poppins&family=Quattrocento+Sans&family=Raleway:wght@100;300&family=Roboto:wght@500&display=swap");
body {
  margin: 4px;
  padding: 4px;
}

.header {
  width: 98%;
  height: 4.5rem;
  background-color: rgb(255, 255, 255) !important;
  display: flex;
  justify-content: space-between;

  z-index: 10;
}

.nav-links {
  list-style-type: none;
  align-items: center;
  flex-direction: row;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-links li {
  display: inline;
  padding: 18px;
}

/*logo styling*/

.nav-logo {
  padding: 5px;
  margin-top: 5px;
}
.header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo img {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 10px;
}

/*drop down icon styling*/

.arrow {
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin: 2px;
  padding: 4px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.header-obecDrop {
  background-color: #000032 !important;
}

/*burger icon menu style*/

.burger-icon {
  display: none; /* Hide the burger icon by default */
}

@media screen and (max-width: 768px) {
  .burger-icon {
    display: block;
    position: absolute;
    top: 20px;
    left: 47%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.header-menu.show-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.5rem;
  right: 0;
  background-color: white;
  width: 100%;
  z-index: 1000;
}

.header-menu ul {
  flex-direction: column;
  width: 100%;
}

.header-menu li {
  text-align: center;
}



@media screen and (max-width: 768px) {
  .header-menu {
    position: absolute;
    top: 4.5rem; /* Adjust according to the header height */
    right: 0;
    left: 0; /* Extend the menu to full width */
    background-color: white;
    border-top: 1px solid #ccc;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 10px; /* Add padding to the menu items */
  }

  .header-menu ul {
    padding: 0;
    margin: 0;
  }

  .header-menu li {
    text-align: center;
    padding: 18px; /* Adjust padding as needed */
    border-bottom: 1px solid #ccc; /* Add a border between menu items */
    display: block; /* Display list items as block */
  }
}
