.header {
    width: 98%;
    height: 4rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}




.nav-links {
    list-style-type: none;
    align-items: center;
    flex-direction: row;

}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links li {
    display: inline;
    padding: 15px;
}


/*logo styling*/

.nav-logo {
    padding: 5px;
}
.header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    height:4rem
}
* {
    background-color: #0E1518 !important;
    color: #EAF0F3 !important;
}