.navbar {
  display: flex;

  justify-content: space-between;
}


.nav-links {
  list-style-type: none;
  align-items: center;
  flex-direction: row;
  
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links li {
  display: inline;
  padding: 15px;
}


/*logo styling*/

.nav-logo{
    padding: 5px;
}

