@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Poppins&family=Quattrocento+Sans&family=Raleway:wght@100;300&family=Roboto:wght@500&display=swap");

body .drop-container {
  width: 100%;
  background-color: rgba(3,111,216,255) ;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -9px;
}

.drop-menu li {
  list-style-type: none;
}

.drop-menu li a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: font-size 0.1s;
  color: white;
}

.drop-menu li:hover {
  font-size: 16.5px; /* Increase font size on hover */
  margin: 1px; /* Adjust margin to compensate for font size increase */
}
