@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Poppins&family=Quattrocento+Sans&family=Raleway:wght@100;300&family=Roboto:wght@500&display=swap");

.footer-container {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  height: fit-content;
  width: 100%;
  background-color: #0d293e !important;
  color: rgb(255, 255, 255);

}

.footer-container li {
  list-style-type: none;
}

.footer-container ul a {
  text-decoration: none !important;
  color: rgb(255, 255, 255);
}

.footer-block {
  width: 20%;
  height: 220px;
 
}

.footer-info{
  margin-right:5% ;
}


/*responsivity*/

@media screen and (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-right: 0% ;
   
  }

  .footer-block {
    width: 50%;
    height: 220px;
   
    text-align: center;
  }

  
.footer-info{
  margin-right:0% ;
  margin-left: 3%;
}

}