@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Poppins&family=Quattrocento+Sans&family=Raleway:wght@100;300&family=Roboto:wght@500&display=swap");

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: fit-content;
  width: 98%;
  background-color: #0d293e !important;
  color: rgb(255, 255, 255);
  margin: auto;
}

.footer-container li {
  list-style-type: none;
}

.footer-container ul a {
  text-decoration: none !important;
  color: rgb(255, 255, 255);
}

.footer-block {
  width: 20%;
  height: 220px;
  padding: 20px;
}
