.second-footer-container{
    width: 100%;
    height: 5rem;
    background-color: #ffffff !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*text styling*/

.second-footer-text{
    font-size: 14px;
    padding: 20px;
}

.second-footer-link{
    text-decoration: none;
    padding: 20px;
}