.contact-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 70%;
}
