@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Poppins&family=Quattrocento+Sans&family=Raleway:wght@100;300&family=Roboto:wght@500&display=swap");

.znak-section-container {
  height: 75vh;
  background-color: #0d293e;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  color: rgb(255, 255, 255);
  padding: 3rem;
  font-size: 1rem;
  font-style: normal !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); /* Shadow at the bottom */
}

.znak-img {
  width: auto;
  max-height: 245px;
  margin-left: 30px;
  border-radius: 5%;
}

/*znak text styles*/

.znak-text-container {
  width: 400px;
}

.znak-text {
  /* Ikonografie znaku a praporu obce Obec Líbeznice se připomíná poprvé v roce 1236 jako majetek vyšehradské kapituly. V roce 1380 se zde zmiňuje farní kostel zasvěcený sv. Martinovi. Držiteli obce s nejdelší historií byl rod Nosticů. Líbeznice koupil v roce 1665 Jan Hertvík z Nostic. Majetek se rozšířil později o Měšice, které se staly centrem panství. K němu patřily i Líbeznice. Nosticové drželi měšické panství po tři století, až do roku 1945. */

  font-style: normal;

  font-size: 17px;
  line-height: 21px;

  color: #ffffff;
}
.znak-list {
  margin-right: 30px;
  list-style-type: disc;
}

.znak-list-title {
  margin-left: -17px;
}

.font {
  font-size: 17px;
  line-height: 21px;

}
